* {
    margin: 0;
    padding: 0;
    font: 16px sans-serif;
    box-sizing: border-box;
}

body {
  height: 100%; /* Permet au body de prendre toute la hauteur */
  margin: 0;
  display: flex;
  flex-direction: column; /* Organise les enfants verticalement */
}

main {
  flex: 1; /* Prend tout l'espace disponible */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centré horizontalement */
  justify-content: flex-start; /* Commence en haut */
  width: 100%;
  background-color: #DBD0F0;
  margin-top: 50px;
}

header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B0B0A;
  position: fixed;
  z-index: 1000;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  padding: 5px;
  color: #ffffff;
  transition: 0.3s;
}

header nav ul li a:hover {
  color: #705D99;
  transition: 0.3s;
}

.lien-logo {
  width: 24px; /* Ajustez la largeur selon vos besoins */
  height: auto; /* Garde les proportions de l'image */
  transition: transform 0.3s ease-in-out; /* Animation au survol */
}

.lien-logo:hover {
  transform: scale(1.2); /* Agrandissement au survol */
}

.timeline-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
  background-color: #DBD0F0;
}

.timeline {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 80%;
  transition: transform 0.3s ease-in-out;
}

.timeline-item {
  position: relative;
  min-width: 200px;
  margin: 0 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: 50%; /* Centré verticalement par rapport à la case */
  left: 100%; /* Part depuis la droite de la case */
  width: 40px; /* Longueur du trait entre deux cases */
  height: 2px; /* Épaisseur du trait */
  background-color: #705D99; /* Couleur du trait */
  z-index: 0; /* Place le trait en dessous de la case */
}

.timeline-item:last-child::after {
  content: none; /* Supprime le trait après le dernier événement */
}

.timeline-item.selected {
  z-index: 10; /* S'assurer qu'il est au-dessus des autres */
  background-color: #84799c; /* Couleur d'arrière-plan */
  border-radius: 8px; /* Angles arrondis */
}

.timeline-item .timeline-content {
  font-size: 1.5em; /* Agrandir le texte pour les titres */
  padding: 10px 20px;
  transition: color 0.3s;
}

.timeline-content h3 {
  font: 20px sans-serif;
  font-weight: bold;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #705d99ad;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.arrow:hover {
  background-color: #705D99;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Détails */
.details {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 40%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.details img {
  display: block;
  margin: 20px auto;
  width: 200px;  /* Largeur fixe */
  height: auto;  /* La hauteur s'ajuste automatiquement */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details img:hover {
  transform: scale(1.05); /* Agrandit légèrement l'image */
  transition: transform 0.3s ease-in-out; /* Animation fluide */
}

.affichage-cv {
  overflow-y: auto;
  max-height: 500px; /* Limite la hauteur visible */
  margin: 20px auto;
}

footer {
  width: 100%;
  background-color: #0B0B0A;
  padding: 20px 0; /* Ajout de padding pour respirer */
  display: flex;
  flex-direction: column; /* Place les éléments en colonne */
  align-items: center; /* Centre le contenu horizontalement */
  position: relative;
}

footer nav {
  text-align: center;
  color: #ffffff;
}

footer nav h1 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px; /* Espace en dessous du titre principal */
}

footer nav h2 {
  color: #ffffff;
  font-size: 16px;
  margin: 5px 0; /* Espacement vertical uniforme entre les éléments */
}

footer nav h2:hover {
  color: #DBD0F0; /* Effet hover */
}

.contact-item {
  display: flex;
  align-items: center; /* Aligne l'icône et le texte au même niveau */
  gap: 10px; /* Ajoute un espace entre l'icône et le texte */
  margin-bottom: 10px; /* Espace entre chaque ligne de contact */
  font-size: 1rem;
}

.contact-icon {
  width: 24px; /* Taille des icônes */
  height: auto;
}
